body {
    background-color: rgb(22, 21, 21);
    color: white;

    header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100px;
        background-color: rgb(19, 18, 18);

        .home-link {
            font-size: 40px;
            color: white;
            text-decoration: none;
        }
    }

    main {
        margin: 100px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

        .user-table {
            margin: 30px;
            width: 280px;
            height: 450px;
            min-width: 280px;
            min-height: 450px;
            border-radius: 6px;
            background-color: rgb(19, 18, 18);
            border: 1px solid rgb(61, 61, 61);

            &-info {
                display: flex;
                align-items: center;
                padding: 15px;
                height: 100px;
                
                .user-nickname {
                    margin-left: 10px;
                    font-size: 23px;
                    cursor: pointer;
                }

                .user-icon {
                    width: 70px;
                }
            }

            &-images {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                flex-wrap: wrap;
                //padding: 3px;

                .img {
                    margin: 3px;
                    cursor: zoom-in;
                    border-radius: 6px;
                    height: auto; 
                    width: auto; 
                    max-height: 100px;
                }
            }
        }
    }

    footer {
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(19, 18, 18);
        
        .github-link {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin: 10px;
        }
    }

    .open-img-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;

        .open-img {
        position: absolute;
        max-width: 80%;
        height: 80%;
        

            .full-img{
                max-width: 100%;
                max-height: 100%;
                height: auto; 
                width: auto; 
                border: 3px solid white;
                border-radius: 6px;
            }
        }
    }
}