@font-face {
  font-family: Nautilus;
  src: url(../fonts/nautilus/nautiluspompilius.woff);
}

@font-face {
  font-family: Lato;
  src: url(../fonts/Lato/Lato-Regular.ttf);
}

html {
  height: 100%;
}

body {
  background-color: #161515;
  color: #ccc8c8;
  font-family: Lato;
  height: 100%;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  background-color: #131212;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header .home-link {
  font-size: 50px;
  color: white;
  text-decoration: none;
  font-family: Nautilus;
  position: absolute;
  margin-left: calc(50% - 101px);
}

body header .crutch {
  margin-left: 100px;
  height: 100px;
}

body header .signInWrapper {
  margin-right: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .signInWrapper .signInContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
}

body header .signInWrapper .signInContainer .signInIcon {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

body header .signInWrapper .signInContainer .signIn {
  font-size: 18px;
  color: #8b8b8b;
}

body header .signInWrapper .signInContainer .user-nickname {
  font-size: 18px;
  color: #8b8b8b;
  text-decoration: none;
}

body header .signInWrapper .signInContainer .logoutIcon {
  cursor: pointer;
  width: 15px;
  height: 15px;
  padding-left: 5px;
}

body main {
  min-height: calc(100% - 325px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 50px 50px 50px;
}

body main .userInfoWrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #242424;
}

body main .userInfoWrapper .userTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 200px;
}

body main .userInfoWrapper .userTable .userIconWrapper {
  width: 290px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .userInfoWrapper .userTable .userIconWrapper .userIcon {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
}

body main .userInfoWrapper .userTable .userInfo {
  width: 615px;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .userInfoWrapper .userTable .userInfo .userName {
  font-size: 28px;
  width: 615px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body main .userInfoWrapper .userTable .userInfo .userInfo {
  margin-top: 20px;
  width: 615px;
  height: 90px;
  color: #949494;
}

body main .userInfoWrapper .userTable .userInfo .userInfo > span {
  max-width: 615px;
  max-height: 90px;
}

body main .images-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body main .images-container .image-wrapper {
  width: 350px;
  height: 350px;
  margin: 20px;
  border: 4px solid #383838;
  border-radius: 6px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

body main .images-container .image-wrapper .image {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 350px;
  max-height: 350px;
  min-width: 350px;
  min-height: 350px;
  height: auto;
  width: auto;
}

body main .images-container .inputNewImgWrapper {
  width: 350px;
  height: 350px;
  margin: 20px;
  border: 4px solid #383838;
  border-radius: 6px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .images-container .inputNewImgWrapper .inputNewImg {
  display: none;
}

body main .images-container .inputNewImgWrapper .downloadNewImg {
  width: 150px;
  height: 150px;
  cursor: pointer;
}

body footer {
  bottom: 0;
  width: 100%;
  height: 50px;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #131212;
}

body footer .github-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
}

body .open-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

body .open-img-wrapper .next-img {
  height: 70px;
  cursor: pointer;
}

body .open-img-wrapper .early-img {
  cursor: pointer;
  height: 70px;
}

body .open-img-wrapper .open-img {
  display: none;
  width: auto;
  height: 80%;
  background-color: #242424;
  border: 7px solid #242424;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .open-img-wrapper .open-img .full-img {
  -o-object-fit: contain;
     object-fit: contain;
  max-height: 95%;
  max-height: 95%;
}

body .FormWrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

body .FormWrapper .loginForm {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: 250px;
  color: #b1b1b1;
  background-color: #131313;
  border: 7px solid #131313;
  border-radius: 6px;
}

body .FormWrapper .loginForm .loginFormTytle {
  margin: 20px;
  font-size: 20px;
}

body .FormWrapper .loginForm .signInInput {
  margin: 10px;
  padding-left: 3px;
  border: 1px solid #3d3d3d;
  background-color: #3d3d3d;
  outline: none;
  height: 25px;
  width: 200px;
  color: #b1b1b1;
  font-size: 16px;
}

body .FormWrapper .loginForm .signInButton {
  margin: 10px;
  cursor: pointer;
  height: 30px;
  border: 1px solid #b1b1b1;
  background-color: #131313;
  color: #b1b1b1;
}

body .FormWrapper .loginForm .createAnAccount {
  margin: 10px;
  color: #636363;
  cursor: pointer;
}

body .FormWrapper .registerForm {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  color: #b1b1b1;
  background-color: #131313;
  border: 7px solid #131313;
  border-radius: 6px;
}

body .FormWrapper .registerForm .registerFormTytle {
  margin: 20px;
  font-size: 20px;
}

body .FormWrapper .registerForm .registerInput {
  margin: 10px;
  padding-left: 3px;
  border: 1px solid #3d3d3d;
  background-color: #3d3d3d;
  outline: none;
  height: 25px;
  width: 200px;
  color: #b1b1b1;
  font-size: 16px;
}

body .FormWrapper .registerForm .inputUserIcon {
  display: none;
}

body .FormWrapper .registerForm .downloadUserIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  border: 1px solid #b1b1b1;
  background-color: #131313;
  color: #b1b1b1;
}

body .FormWrapper .registerForm .UserNameError {
  color: red;
  font-size: 16px;
}

body .FormWrapper .registerForm .userInfoForm {
  resize: none;
  background-color: #3d3d3d;
  border: 1px solid #3d3d3d;
  color: #b1b1b1;
  margin: 10px;
  font-size: 16px;
  outline: none;
  width: 200px;
  height: 100px;
}

body .FormWrapper .registerForm .registerButton {
  margin: 10px;
  cursor: pointer;
  height: 30px;
  border: 1px solid #b1b1b1;
  background-color: #131313;
  color: #b1b1b1;
}
/*# sourceMappingURL=users.css.map */